<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>View</title>
        <style>
            body {
                background-image: url('https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg?w=1800&t=st=1665152027~exp=1665152627~hmac=037525a6afea022bd4f46e51c869a7226d4010307b502318dd0965ffac3d4651');
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            .list-unstyled {
                text-align: left;
            }
            .left {
                text-align: left;
            }
        </style>
    </head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <span></span>
        <a class="navbar-brand" href="/">Logout</a>
        </div>
    </nav>

    <!-- line break -->
    <br>

    <body>
        <!-- page header -->
        <div class="d-flex justify-content-center 
                    text-uppercase 
                    p-3 
                    ">
            <h1>Anything La</h1>
        </div>

        <!-- nav bar -->
        <nav class="navbar navbar-expand-lg 
                    nav justify-content-center
                    ">
            <div class="navbar-nav">
                <a class="nav-item nav-link" data-th-href="@{/track(userName=${userName})}">Track Everything</a>
                <a class="nav-item nav-link" href="/eat">Eat Anything</a>
                <a class="nav-item nav-link" href="/view">View Everything</a>
            </div>
        </nav>

        <!-- line break -->
        <br>

        <!-- content header -->
        <div class="container mb-3 mt-3 ">
            <figure class="text-end">
                <blockquote class="blockquote">
                    Welcome <span data-th-text="${userName}"></span>, what would you like to view?
                </blockquote>
                <figcaption class="blockquote-footer">
                    <a data-th-href="@{/track(userName=${userName})}">Click here to log more places</a>
                </figcaption>
            </figure>
        </div>

        <!-- line break -->
        <br>

        <!-- content body -->
        <div class="container table-responsive">
            <H3></H3>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">S/N</th>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Neighbourhood</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-th-each="p,iterationStatus: ${places}">
                    <th data-th-text="${iterationStatus.count}"></th>
                    <td data-th-text="${p.getId}"></td>
                    <td data-th-text="${p.getEstablishmentName}"></td>
                    <td data-th-text="${p.getEstablishmentType}"></td>
                    <td data-th-text="${p.getNeighbourhood}"></td>
                    <td><a data-th-href="@{/view/edit/{id}(id=${p.id})}">Edit</a></td>
                    <td><a data-th-href="@{/view/delete/{id}(id=${p.id})}">Delete</a></td>
                    <td><a data-th-href="@{/view/reviews/{establishmentName}(establishmentName=${p.establishmentName})}">Get Reviews</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>

    <br>

    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-facebook-f"></i
          ></a>

          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fa fa-instagram"></i
          ></a>

          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/drrnsyk/ssf_miniproject-01.git" role="button"
            ><i class="fa fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->

        <!-- Section: Text -->
        <section class="mb-4">
          <p>
            This free to use app helps users keep a record of the food places they have been to.
            Feel free to reach out to us if there are any comments or feedbacks on how we could improve this application.
          </p>
          <p>
            Visit us on GitHub!
          </p>
          <br>
        </section>
        <!-- Section: Text -->

        <!-- Section: Links -->
        <section class="left">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Anything</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <span>We are a local base startup</span>
                </li>
                <li>
                  <span>dedicated to developing the latest</span>
                </li>
                <li>
                  <span>application. Feel free to reach out</span>
                </li>
                <li>
                  <span>to us!</span>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Products</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <span>Eat Anything</span>
                </li>
                <li>
                  <span>Cook Something</span>
                </li>
              </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Credits</h5>
  
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="https://img.freepik.com/free-photo/white-concrete-wall_53876-92803.jpg?w=1800&t=st=1665152027~exp=1665152627~hmac=037525a6afea022bd4f46e51c869a7226d4010307b502318dd0965ffac3d4651" class="text-white">Background image by rawpixel</a>
                  </li>
                </ul>
              </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Contact Us</h5>

              <ul class="list-unstyled mb-0">
                <li>
                  <span>Singapore</span>
                </li>
                <li>
                  <span>darren.syk@gmail.com</span>
                </li>
                <li>
                  <span>+65 9234 5678</span>
                </li>
                <li>
                  <span>+65 6987 5432</span>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://www.linkedin.com/in/darren-sim-yi-kang/">Anythingapp</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
</html>